<svg width=32 height=32 viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>Layer 1</title>
        <ellipse stroke-width="0" fill-opacity="0.7" ry="11.75" rx="28.125" id="svg_1" cy="51.75" cx="26.875" stroke="#4c4c4c" fill="url(#svg_ballgradient)" />
        <ellipse fill="url(#svg_shadowgradient)" stroke="#000" cx="32" cy="32" id="svg_2" rx="30" ry="30" />
        <BlinkTimer @ref="_blinkTimer" Initialnterval="1000" OnTickNonRendering="BlinkEyes" >
            @if(_eyesOpen)
            {
                @* left eye open *@
                <ellipse fill="#EDFFFF" stroke="#000" stroke-width="0.2" cx="20" cy="32" rx="9" ry="9" />
                @* left pupil *@
                <ellipse fill="#004400" stroke="#000" stroke-width="0" cx="@(22 + _pupilX)" cy="@(33 + _pupilY)" rx="3.5" ry="3.5" />
                @* right eye open *@
                <ellipse fill="#EDFFFF" stroke="#000" stroke-width="0.2" cx="44" cy="32" rx="9.5" ry="9.5" />
                @* right pupil *@
                <ellipse fill="#004400" stroke="#000" stroke-width="0" cx="@(45 + _pupilX)" cy="@(33 + _pupilY)" rx="3.7" ry="3.7" />
            }
            else
            {
                @* left eye closed *@
                <rect fill="#000000" stroke="#000" x="11" y="30" width="16" height="2" />
                @* right eye closed *@
                <rect fill="#000000" stroke="#000" x="37" y="30" width="16" height="2" />
            }
        </BlinkTimer>
    </g>
    <defs>
        <radialGradient id="svg_shadowgradient" spreadMethod="pad" r="1.08543" cx="0.71094" cy="0.24766">
            <stop stop-color="#FFFFFF" offset="0" />
            <stop stop-color="#f57777" stop-opacity="0.98828" offset="0.42188" />
            <stop stop-color="#000000" offset="1" />
        </radialGradient>
        <radialGradient r="0.48714" cy="0.5" cx="0.5" spreadMethod="pad" id="svg_ballgradient">
            <stop offset="0" stop-opacity="0.99219" stop-color="#000000" />
            <stop offset="0.89063" stop-opacity="0.96484" stop-color="#000000" />
            <stop offset="1" stop-opacity="0.10156" stop-color="#000000" />
        </radialGradient>
    </defs>
</svg>

@code {
    private BlinkTimer? _blinkTimer;

    bool _eyesOpen = false;
    double _pupilX;
    double _pupilY;

    private void BlinkEyes()
    {
        if(_eyesOpen)
        {
            if (Random.Shared.NextDouble() < 0.1)
            {
                _blinkTimer!.Interval = Random.Shared.Next(200, 500);
                _eyesOpen = false;
            }
            else
            {
                _blinkTimer!.Interval = Random.Shared.Next(100, 2000);
                _pupilX = 6.0 * Random.Shared.NextDouble() - 3.0;
                _pupilY = 6.0 * Random.Shared.NextDouble() - 3.0;
            }
        }
        else
        {
            _blinkTimer!.Interval = Random.Shared.Next(100, 2000);
            _pupilX = 6.0 * Random.Shared.NextDouble() - 3.0;
            _pupilY = 6.0 * Random.Shared.NextDouble() - 3.0;
            _eyesOpen = true;
        }
    }
}
